<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.BlogMapper">

<!--    根据博客ids查询博客-->
    <select id="queryByIds" resultType="com.hmdp.entity.Blog">
        select * from tb_blog where id in
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        ORDER by FIELD(id,
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>
</mapper>
